.menu table {
  float: right;
  margin-top: 0;
  max-width: 495px;
  width: 47.5%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.flashy {
  color: red;
  font-style: italic;
}

body {
    background-color: salmon;
}

img {
    border: 8px solid;
    border-radius: 25px;
    border-color: white;
}

h2 {
  text-indent: 160px;
}
h1 {
  font-size: 60px; 
}
